<!DOCTYPE html>
{% load static %} 
<html>

<head>
  <link rel="stylesheet" href="{% static 'profile_app/styles.css' %}" />
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

</head>

<body class="bg-body-tertiary">

  <!-- header  -->

  <div class="container">
    {% include 'profile_app/banner.html' %}

    <hr class="hr">
    <br>

    <!-- bio -->
    {% include 'profile_app/bio.html' %}
    <br>


    <!-- skills -->
    {% include 'profile_app/skills.html' %}
      
    <br>

    <!-- experience -->
    {% include 'profile_app/experience.html' %}
    <br>


    <!-- Education -->
    {% include 'profile_app/education.html' %}
    <br>


    <!-- Certifications -->
    {% include 'profile_app/certification.html' %}
      <br>


      <!-- Achievements -->
    {% include 'profile_app/achievement.html' %}
        <br>




</body>
{% comment %} <script src="{% static 'profile_app/scripts.js' %}"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</html>